
<div class="Comment">
    <div class="Comment-head">
        ❀发表评论❀
    </div>
    <div class="Comment-user">
        <form action="" class="Comment-form">
            <div class="user-info">
                <img class="user-info-head" src="~/images/user-default.png" alt="">
                <div class="user-content">
                    <div class="user-info-details">
                        <input type="text" name="qq" id="qq" placeholder="QQ（可获取头像和昵称）">
                        <input type="text" name="nickname" id="nickname" placeholder="自动获取" autocomplete="off" readonly="">
                    </div>
                    <div class="user-text">
                        <textarea id="comment-textarea" name="content" placeholder="既然来了就评论一下呗" style="height: 50px;"></textarea>
                    </div>
                </div>
            </div>
            <button class="Comment-submit-btn">提交</button>
        </form>
    </div>
    <ul class="Comment-ul">
        <li>
            <div class="Comment-body">
                <div class="comment-user-image">
                    <img class="user-info-head" src="~/images/SPY-head.jpg" alt="">
                </div>
                <div class="comment-user-info">
                    <div class="Comment-top">
                        <span class="user-nickname">毛豆</span>
                        <span class="Comment-time" style="color: #757575;">2019-10-27 09:49:58</span>
                    </div>
                    <div class="Comment-content">
                        <div class="Comment-content-text">
                            fdjsakl;发动机沙口路盖了房额if12666641f3s46feg
                        </div>
                    </div>
                    <div class="Comment-footer">
                        <span class="reply" style="color: #a5a5f9;">回复</span>
                        <span class="support">
                            <span>赞</span>
                            3
                        </span>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="Comment-body">
                <div class="comment-user-image">
                    <img class="user-info-head" src="~/images/SPY-head.jpg" alt="">
                </div>
                <div class="comment-user-info">
                    <div class="Comment-top">
                        <span class="user-nickname">毛豆</span>
                        <span class="Comment-time" style="color: #757575;">2019-10-27 09:49:58</span>
                    </div>
                    <div class="Comment-content">
                        <div class="Comment-content-text">
                            fdjsakl;发动机沙口路盖了房额if12666641f3s46feg
                        </div>
                    </div>
                    <div class="Comment-footer">
                        <span class="reply" style="color: #a5a5f9;">回复</span>
                        <span class="support">
                            <span>赞</span>
                            3
                        </span>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="Comment-body">
                <div class="comment-user-image">
                    <img class="user-info-head" src="~/images/SPY-head.jpg" alt="">
                </div>
                <div class="comment-user-info">
                    <div class="Comment-top">
                        <span class="user-nickname">毛豆</span>
                        <span class="Comment-time" style="color: #757575;">2019-10-27 09:49:58</span>
                    </div>
                    <div class="Comment-content">
                        <div class="Comment-content-text">
                            fdjsakl;发动机沙口路盖了房额if12666641f3s46feg
                        </div>
                    </div>
                    <div class="Comment-footer">
                        <span class="reply" style="color: #a5a5f9;">回复</span>
                        <span class="support">
                            <span>赞</span>
                            3
                        </span>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="Comment-body">
                <div class="comment-user-image">
                    <img class="user-info-head" src="~/images/SPY-head.jpg" alt="">
                </div>
                <div class="comment-user-info">
                    <div class="Comment-top">
                        <span class="user-nickname">毛豆</span>
                        <span class="Comment-time" style="color: #757575;">2019-10-27 09:49:58</span>
                    </div>
                    <div class="Comment-content">
                        <div class="Comment-content-text">
                            fdjsakl;发动机沙口路盖了房额if12666641f3s46feg
                        </div>
                    </div>
                    <div class="Comment-footer">
                        <span class="reply" style="color: #a5a5f9;">回复</span>
                        <span class="support">
                            <span>赞</span>
                            3
                        </span>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="Comment-body">
                <div class="comment-user-image">
                    <img class="user-info-head" src="~/images/SPY-head.jpg" alt="">
                </div>
                <div class="comment-user-info">
                    <div class="Comment-top">
                        <span class="user-nickname">毛豆</span>
                        <span class="Comment-time" style="color: #757575;">2019-10-27 09:49:58</span>
                    </div>
                    <div class="Comment-content">
                        <div class="Comment-content-text">
                            fdjsakl;发动机沙口路盖了房额if12666641f3s46feg
                        </div>
                    </div>
                    <div class="Comment-footer">
                        <span class="reply" style="color: #a5a5f9;">回复</span>
                        <span class="support">
                            <span>赞</span>
                            3
                        </span>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="Comment-body">
                <div class="comment-user-image">
                    <img class="user-info-head" src="~/images/SPY-head.jpg" alt="">
                </div>
                <div class="comment-user-info">
                    <div class="Comment-top">
                        <span class="user-nickname">毛豆</span>
                        <span class="Comment-time" style="color: #757575;">2019-10-27 09:49:58</span>
                    </div>
                    <div class="Comment-content">
                        <div class="Comment-content-text">
                            fdjsakl;发动机沙口路盖了房额if12666641f3s46feg
                        </div>
                    </div>
                    <div class="Comment-footer">
                        <span class="reply" style="color: #a5a5f9;">回复</span>
                        <span class="support">
                            <span>赞</span>
                            3
                        </span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>