@{
    ViewData["Title"] = "我的学习记录";
}
<!--中间部分内容-->
<div class="col-md-6 SPY-mainContent-center">
    <div class="SPY-notice">
        <div class="SPY-icon">
            <svg t="1573042359597" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1227" width="16" height="16"><path d="M855.194 512.34A263.12 263.12 0 0 0 663.28 259.39a33.907 33.907 0 0 0-42.045 33.908 33.907 33.907 0 0 0 24.074 33.907 194.628 194.628 0 0 1 0 374.676 33.907 33.907 0 0 0-24.074 33.907 33.907 33.907 0 0 0 42.045 33.907A263.12 263.12 0 0 0 855.194 512.34zM529.006 0a46.114 46.114 0 0 0-27.804 12.546l-10.85 9.494-109.86 89.515L224.18 240.064H83.465a67.815 67.815 0 0 0-67.815 67.814v400.784a67.815 67.815 0 0 0 67.815 67.815h131.899l160.381 131.9 111.216 91.21 14.58 11.867A46.114 46.114 0 0 0 529.345 1024c11.868 0 20.006-8.816 23.057-24.413a65.78 65.78 0 0 0 0-12.546V37.298a67.815 67.815 0 0 0 0-14.92C548.672 7.799 540.196 0 529.006 0z m-208.19 775.12l-81.039-67.814H83.465V307.878h164.789l78.665-64.424 158.686-130.543V910.75z" p-id="1228" fill="#d81e06"></path><path d="M733.806 71.544a33.907 33.907 0 0 0-48.826 30.178 33.907 33.907 0 0 0 19.327 30.516 421.128 421.128 0 0 1 0 756.133 33.907 33.907 0 0 0-19.327 30.516 33.907 33.907 0 0 0 48.826 30.856 488.943 488.943 0 0 0 0-878.538z" p-id="1229" fill="#d81e06"></path></svg>
        </div>
        <ul class="SPY-notice-list">
            <li><a asp-controller="Computer" asp-action="Computer_1">重装系统(教程一)</a></li>
            <li><a href="">最新消息2</a></li>
            <li><a href="">最新消息3</a></li>
            <li><a href="">最新消息4</a></li>
            <li><a asp-controller="Computer" asp-action="Computer_1">重装系统(教程一)</a></li>
        </ul>
    </div>
    <div class="SPY-article">
        <div class="SPY-article-items">
            <div class="SPY-article-items-content">
                <div class="content-author">
                    <img src="images/SPY-head.jpg" alt="">
                    <div class="author-details">
                        <span class="author-name">SPY顶级管理员</span>
                        <p class="article-time">2019-11-11</p>
                    </div>
                </div>
                <div class="content-title">
                    <span class="label label-success">置顶</span>
                    <span class="label label-danger"><a href="" style="color: white;text-decoration: none">#点击进入#</a></span>
                    <a href="">SPY网站源码，免费下载[包括前端后端]</a>
                </div>
                <div class="content-img">
                    <p>后台使用的是微软的Asp.net Core，前端使用bootstrap和jQuery等框架</p>
                    <a href="">
                        <img src="images/SPY-head.jpg" alt="">
                    </a>
                </div>
                <div class="content-footer">
                    <svg t="1573320543040" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2239" width="16" height="16"><path d="M834.37778 716.13833l-85.74999 0c-11.879562 0-21.505803-9.657964-21.505803-21.441335 0-11.879562 9.625218-21.537526 21.505803-21.537526l85.74999 0c23.663956 0 42.97886-19.266809 42.97886-42.97886l0-429.788603c0-23.712051-19.314904-42.97886-42.97886-42.97886l-644.682905 0c-23.712051 0-42.97886 19.266809-42.97886 42.97886l0 429.788603c0 23.712051 19.266809 42.97886 42.97886 42.97886l365.224122 0c5.692652 0 11.17655 2.318812 15.173584 6.299473l193.46934 193.404871c8.394181 8.425903 8.394181 22.032806 0 30.379914-4.14132 4.204765-9.673313 6.347568-15.141862 6.347568-5.516644 0-11.048637-2.142803-15.189957-6.347568L546.029536 716.13833 189.694875 716.13833c-47.455825 0-86.005816-38.533618-86.005816-85.957721l0-429.788603c0-47.376007 38.549991-85.957721 86.005816-85.957721l644.682905 0c47.424102 0 85.957721 38.581714 85.957721 85.957721l0 429.788603C920.335501 677.604712 881.801882 716.13833 834.37778 716.13833L834.37778 716.13833zM318.631456 458.265168c-23.760147 0-42.97886-19.218714-42.97886-42.97886s19.218714-42.97886 42.97886-42.97886c23.712051 0 42.97886 19.218714 42.97886 42.97886S342.343507 458.265168 318.631456 458.265168L318.631456 458.265168zM512.004605 458.265168c-23.743774 0-42.97886-19.218714-42.97886-42.97886s19.235087-42.97886 42.97886-42.97886c23.760147 0 42.97886 19.218714 42.97886 42.97886S535.763728 458.265168 512.004605 458.265168L512.004605 458.265168zM705.441199 458.265168c-23.760147 0-42.97886-19.218714-42.97886-42.97886s19.218714-42.97886 42.97886-42.97886c23.712051 0 42.97886 19.218714 42.97886 42.97886S729.15325 458.265168 705.441199 458.265168L705.441199 458.265168z" p-id="2240"></path></svg>
                    <span>5</span>
                    <svg t="1573320606457" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3050" width="16" height="16"><path d="M512.752 948.368C306.24 948.368 160 803.632 160 604.352c0-105.872 62.72-219.92 65.472-224.592a27.744 27.744 0 0 1 27.424-13.968c11.12 1.472 20 9.584 23.072 20.336 0.208 0.592 17.168 64.704 39.424 100.192 14.928 23.952 30.208 40.752 47.36 52.544-11.616-50.72-20.432-127.12-6.016-205.344 39.36-214.832 206.752-266.384 213.904-268.48a27.488 27.488 0 0 1 34.4 31.904c-0.16 1.472-27.92 152.032 30.672 280.32 5.344 11.68 12.72 25.12 20.704 38.784a364.8 364.8 0 0 1 11.36-57.632c21.6-76.048 77.184-102.064 79.584-103.056a27.344 27.344 0 0 1 28.08 3.456 27.68 27.68 0 0 1 10.064 26.832c-0.304 1.92-8.112 53.728 35.6 127.12 39.456 66.256 50.704 109.232 50.704 191.76-0.192 199.2-150.976 343.84-359.056 343.84zM247.888 474.64a352.272 352.272 0 0 0-24.288 127.136c0 162.272 119.616 280 289.264 280 170.976 0 295.04-117.728 295.04-280.048 0-70.16-8.592-102.544-41.712-158.368-22.112-37.216-33.168-70.672-38.176-97.392a124.656 124.656 0 0 0-13.712 31.808c-16.16 57.12-12 124.16-12 124.912a27.008 27.008 0 0 1-17.696 27.008c-11.184 4.048-23.68 0.032-30.432-9.76-2.096-2.8-49.232-70.4-70.016-116.08-43.104-94.368-42.528-196.544-38.176-255.36-43.696 25.728-110.944 83.312-132.64 200.352-21.008 114.048 19.808 233.248 20.224 234.352a27.152 27.152 0 0 1-4.832 27.408 26.16 26.16 0 0 1-26.16 8.4c-3.248-0.8-83.424-20.448-131.744-97.6a325.696 325.696 0 0 1-22.944-46.768z" fill="#000000" p-id="3051"></path></svg>
                    <span>13</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--中间部分内容-->
<!--右边内容部分-->
<partial name="_RightmostPartial" />
<!--右边内容部分-->