@{
    Layout = "_Layout";
    ViewData["Title"] = "留言板";
}
<div class="col-md-9 SPY-right">
    <div class="SPY-right-Content">
        <div class="Content-body">
            <h1 style="text-align: center; margin-top: 20px;margin-bottom: 40px;">留言板</h1>
            <h4 class="body-title">关于留言</h4>
            <p>❀合法内容，想说什么就说什么,不要害羞</p>
            <p>❀输入QQ号自动获取QQ昵称和头像</p>
            <h4 class="body-title">关于提问</h4>
            <p>❀所有问题都可，但不一定回答(或许是太难)</p>
            <h4 class="body-title">联系方式</h4>
            <p>❀QQ：110，电话：110。欢迎联系</p>
            <partial name="_CommentPartial" />
        </div>
    </div>
</div>